*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#__next {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
